*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: "poppins";
} 
[aria-label="navbar"] {
 display: flex;
 justify-content: center;
 align-content: center;
 align-items: center;
}
.navbar-container {
 display: grid;
 padding: 25px 0;
 grid-template-columns: 11% 39% 41%;
 justify-items: center;
 align-items: center;
 width: 100%;
 justify-content: space-around;
}
.brand-logo {
 display: flex;
 padding-bottom: 20%;
 padding-left: 40%;
 height: 80px;
}
.list {
 display: flex;
 justify-content: space-between;
 align-content: space-between;
 list-style: none;
 font-size: 13px;
 cursor: pointer;
}
.list-item {
 position: relative;
 padding: 10%;
 color: #808080;
 right: 60%;
 padding-bottom: 30%;
}
.list-item:first-child {
 color: black;
}
.button-group {
 position: relative;
 padding-left: 70%;
 padding-bottom: 10%;
}
.nav-button {
 display: flex;
 border: 1px solid #253898;
 padding: 10px 22px 16px;
 border-radius: 8px;
 background-color: #253898;
 color: white;
 cursor: pointer;
}
[aria-label="banner"] {
 font-size: 40px;
 display: grid;
 grid-template-columns: 1fr 1fr;
 align-items: center;
 justify-items: center;
}
.heading-text{
 color: #3c2f60 ;
 margin-left: 4rem;
}
.heading-text > span{
 color:#5955b2;
}
.description {
 font-size: 14px;
 margin-left: 4rem;
 display: grid;
 grid-template-columns: 2fr 1fr;
 color: rgb(194, 174, 174);
}
[alt="illustration"] {
 height: 400px;
 position: absolute;
 top: 160px;
 right: 90px;
 bottom: 0px;
}
.nav-button-btn {
 display: flex;
 margin-left: 20%;
 border: 1px solid #253898;
 padding: 10px 22px 16px;
 border-radius: 8px;
 background-color: #253898;
 color: white;
 cursor: pointer;
 margin-top: 10%;
}

